<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Profile of user yes</title>
     <link rel="stylesheet" href="/styles/reset.css">
     <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
     <%- include("partials/nav"); %>

     <main>
       <div class="post">
        <div class="title-wrapper">
          <div class="title">
            <h3><a href="<%- `/posts/${post.id}` %>"><%= post.title %></a></h3>
            <% if(locals.admin) { %>
              <a class="admin-delete" href="<%- `/posts/${post.id}/delete` %>">Delete</a>
         <% } %>
          </div>
          <p class="data">
             Posted <span class="time"> <%= post.timestamp || "???" %> </span>
             <!-- TODO: fix link to user profile -->
             by <span class="user">
     
               <% const name = post.user_name || "???" %>
               <% if(post.user_id) { %>
                 <a 
                 href="/profile/<%-post.user_id%>" >
                 <%= name %>
                 </a>
               <% } else { %>
                 <span>
                   <%= name %>
                 </span>
               <% } %>

             </span>
           </p>
        </div>

        <p class="content"><%= post.text %></p>
       </div>
     </main>
</body>

</html>
